@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./var.css);

@layer components {
  .cyan-button {
    @apply bg-cyan-600 text-white rounded px-4 py-1;
  }

  .danger-button {
    @apply bg-red-600 text-white rounded px-4 py-1;
  }

  .nav-item {
    @apply flex items-center justify-center w-14 h-9 p-3 rounded-full transition-all duration-300 hover:bg-gray-500 hover:bg-opacity-60 cursor-pointer;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-neutral-400) rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  overflow: overlay;
  width: 8px;
}

::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-400);
  border-radius: 5px;
}

.oauth-buttons-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.oauth-button {
  height: 50px;
  width: 300px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: "Roboto Regular";
}

.oauth-button.oauth-button-google {
  background-color: #4285f4;
}

.oauth-button.oauth-button-facebook {
  background-color: rgb(32, 107, 206);
}

.oauth-button.oauth-button-discord {
  background-color: rgb(96, 99, 239);
}

.oauth-button .oauth-button__icon {
  width: 18px;
  height: 18px;
  margin-left: auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

p.small {
  font-size: 0.85rem;
}
