html {
  background-color: #313131;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a,
a:hover {
  color: goldenrod;
}

pre {
  background-color: #44474d;
  padding: 10px;
  border-radius: 7px;
}
